@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Hina Mincho', serif;
}
#ages-calculator{
    display:grid;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    padding: 0 2rem;
}

#member-age{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% auto;
    border-radius: 1rem;
    font-size: 1rem;
}
#age-labels{
    
    display:grid;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    padding: 0 2rem;
    font-size: 1.5rem;

}
#new-button{
    font-family: 'Hina Mincho', serif;
    display:grid;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    padding: 0 2rem;
    font-size: 1.5rem;
}

#header{
    
    display:grid;
    flex-direction: column;
    justify-content: center;
}